﻿@using System.Threading.Tasks
@using Microsoft.Net.Http.Server
@{
    ViewData["Title"] = "Kontakt";
}

@section meta {
    <meta property="og:title" content="campusfix - Kontakt" />
    <meta property="og:description" content="Kontaktdetails" />
    <meta property="og:image" content="@ViewBag.HostName/images/thumbnail.jpg" />
}

<h2>Kontakt</h2>


<address>
    Thomas Reichhart<br />
    <small>Student an der Medizinischen Universtität Wien</small><br />
    <br />
    Aspangstraße 45/1/11<br />
    1030 Wien<br />
</address>

<address>
    <strong>Email:</strong> <a id="contactEmail"></a>
</address>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var mailaddress = atob("c2FsdHluMTE0MjQ3NkBzdHVkZW50cy5tZWR1bml3aWVuLmFjLmF0").substring(5);
            $("#contactEmail").attr("href", "mailto:" + mailaddress);
            $("#contactEmail").html(mailaddress);
        });
    </script>
}
