﻿@using System.Threading.Tasks
@using campusfixreloaded.Controllers
@using campusfixreloaded.DataClasses
@using Microsoft.AspNet.Mvc
@{
    ViewData["Title"] = "Start";
}

@section meta {
    <meta property="og:title" content="campusfix" />
    <meta property="og:description" content="Korrigiert und verschönert den medcampus Kalender." />
    <meta property="og:image" content="@(ViewBag.BasePath)images/thumbnail.jpg" />
}

<h3>Wilkommen bei campusfixreloaded!</h3>


<div class="content">
    <div class="input-group" style="width: 690px;">
        <span class="input-group-addon" style="width: 200px; text-align: left;">Link aus dem medcampus:</span>
        <input type="text" class="form-control" placeholder="https://campus.meduniwien.ac.at/med.campusj/ws/termin/..." aria-describedby="basic-addon1" style="width: 100%; border-right: 0;" id="campuslink">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" title="hello" data-toggle="modal" data-target="#linkExplanation"><small>Welcher Link?</small></button>
        </span>
    </div>
    <div style="width: 690px; margin: 10px 0;">
        <span class="input-group-addon" style="width: 201px; text-align: left;">
            Optionen:
        </span>
        <span class="input-group-addon" style="background: transparent; width: 40px;">
            <input type="checkbox" id="lectureTypePrefix" checked="checked" style="width: 0; vertical-align: middle; margin-bottom: 1px;">
            <label for="lectureTypePrefix" style="font-weight: normal; margin-bottom: 0; vertical-align: middle; margin-left: 5px;">
                Veranstaltungstyp im Titel
            </label>
        </span>
    </div>
    <button class="btn btn-primary" style="display: block; margin: 20px auto;" onclick="makeLink();">
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        Link erzeugen
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
    </button>
    <div id="resultContainer">
        <div id="linkContainer">
            <div class="input-group">
                <span class="input-group-addon" id="yourLinkCaption">Dein Link:</span>
                <input class="form-control" id="computedLink" onfocus="$(this).select();" aria-describedby="yourLinkCaption" />
                <a class="input-group-addon" href="javascript:void(0);" onclick="copyLink();"><span class="glyphicon glyphicon-share"></span> Kopieren</a>
            </div>
            <br />
            <div style="text-align: left;">
                Beim Google Kalender "Weitere Kalender" -> "über URL hinzufügen" auswählen<br />
                und diesen Link einfügen.
            </div>
        </div>
        <div id="errorContainer">
            Fehlgeschlagen! Bitte überprüfe den angegebenen Link.
        </div>
    </div>
</div>

<div class="modal fade" id="linkExplanation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Welcher Link?</h4>
            </div>
            <div class="modal-body">
                <p>
                    <ol>
                        <li>Rufe <a href="//campus.meduniwien.ac.at" target="_blank">medcampus</a> auf und logge dich ein.</li>
                        <li>Klick auf "Terminkalender".</li>
                        <li>In dem neu geöffneten Fenster, gehe auf "Veröffentlichen", und kopiere den angezeigten link unter "Adresse Ihres iCal-Kalenders".</li>
                        <li>Füge ihn dann hier in das Textfeld ein.</li>
                    </ol>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>
<div title="Kopiert." id="copiedToolTip"></div>

<h3>Was ist campusfixreloaded?</h3>

<dl class="dl-horizontal">
    <dt>Content-Type</dt>
    <dd>
        Der Google-Kalender macht beim Hinzufügen des Kalender-Links aus dem med.campus <small>(der medcampus Server schickt einen falschen Content-Type im HTTP-Header)</small> immer wieder Probleme.
        campusfixreloaded holt sich deinen Terminkalender direkt vom medcampus Server. Nach Anwendung gewisser Regeln (siehe unten) wird dein Terminkalender mit dem richtigen Content-Type ausgegeben.
    </dd>
    <dt>Verschönerungen</dt>
    <dd>
        Zum anderen enthalten die Terminbeschreibungen oft den Text "fix; Abhaltung;". Dieser wird aus der Beschreibung entfernt.<br />
        Weiters werden einige Regeln angewandt, die teilweise die Zusammenfassung und Beschreibung des Termins vertauschen, um die Lesbarkeit zu verbessern.<br />
        <a href="javascript:void(0);" data-toggle="modal" data-target="#prettifications">Liste aller Verschönerungen</a>
    </dd>
    <dt>Ideen oder Fehler?</dt>
    <dd>
        Falls Ihr Ideen und Verbesserungsvorschläge habt, oder euch an der Anzeige des Kalenders noch etwas stört, <a asp-action="Contact">schreibt mir</a>.
    </dd>
    <dt>Reloaded?</dt>
    <dd>
        Ursprünglich war ein ähnliches Projekt online. Da der Autor es jedoch offline genommen hat, habe ich diese Lösung geschaffen.
    </dd>
</dl>


<div class="modal fade" id="prettifications">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Verschönerungen</h4>
            </div>
            <div class="modal-body">
                <p>
                    <h4>Folgende Reguläre Ausdrücke werden angewandt:</h4>
                    <br />
                    @foreach (ReplacementPattern replacementPattern in ViewBag.ReplacementPatterns)
                    {
                        <div style="font-family: monospace;">
                            @replacementPattern.Regex.ToString()
                        </div>
                        @: wird ersetzt durch:
                        <div style="font-family: monospace;">
                            @replacementPattern.Replacement.Replace("\n", @"\n")
                        </div>
                        <br />
                    }
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>


<h3>Was passiert mit meinen Daten?</h3>

<p style="text-align: justify;">
    Wir laden deinen Terminkalender zwischenzeitlich vom medcampus Server herunter, um ihm zu verarbeiten.
    Nach der Verarbeitung wird jedoch alles gelöscht. Dieses Projekt ist OpenSource.
    Das Projekt wurde mit Hilfe von ASP.net 5 (vNext) MVC 6 realisiert und läuft auf meinem privaten Linux-Server als docker-image.
    Der gesamte Quellcode kann <a href="//gitlab.com/baconworx/campusfixreloaded" target="_blank">hier</a> abgerufen werden.
</p>

@section scripts {
    <script type="text/javascript">
        var makeLink = function () {
            var campuslink = $("input#campuslink").val();
            var prefix = $("input#lectureTypePrefix").is(":checked");

            var actionUrl = "@Url.Action(new UrlActionContext {Action = nameof(HomeController.ComputeLink)})";

            $.ajax({
                url: actionUrl,
                data: JSON.stringify({ CampusLink: campuslink, LectureTypePrefix: prefix }),
                method: "POST",
                contentType: "application/json; charset=utf-8",
                beforeSend: showLoader,
                error: handleResult
            }).done(handleResult);
        };

        var showLoader = function () { };
        var hideLoader = function () { };

        var handleResult = function (result) {
            hideLoader();

            var resultContainer$ = $("div#resultContainer");
            var computedLink$ = $("div#linkContainer");
            var errorContainer$ = $("div#errorContainer");

            resultContainer$.fadeOut(500, function () {
                if (result.Ok) {
                    errorContainer$.hide();
                    setComputedLink(result.ComputedLink);
                    computedLink$.show();
                } else {
                    computedLink$.hide();
                    errorContainer$.show();
                }
                resultContainer$.fadeIn(500);
            });
        };

        var setComputedLink = function (link) {
            $("input#computedLink").val(link);
        }

        var copyLink = function () {
            $("input#computedLink").select();
            document.execCommand("copy");

            $("#copiedToolTip").tooltip("open");

        }

        $(document).ready(function () {
            $("#copiedToolTip").tooltip({
                open: function (e) { setTimeout(function () { $(e.target).tooltip("close"); }, 1000); }
            });

        });
    </script>
}