﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    width: 1024px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

div.navbar div.container {
    width: 1024px;
}

div.content {
    margin: 30px auto 0 auto;
    border: 1px solid #abc;
    padding: 20px 50px 0 50px;
    width: 800px;
}

span.input-group-addon {
    background-color: #abc;
}

input {
    border-color: #abc !important;
}

div#resultContainer {
    display: none;
}

div#linkContainer, div#errorContainer {
    text-align: center;
}

div#linkContainer {
    padding-bottom: 40px;
}

div#errorContainer {
    color: #c50;
    padding-bottom: 20px;
}

.ui-tooltip {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    border-style: none;
    box-shadow: 0 0 5px #000;
    background-color: #428BCA !important;
    background-image: none;
    color: white;
    padding: 5px;
}

.dl-horizontal dd {
    text-align: justify;
    margin-bottom: 10px;
}

h2, h3 {
    text-align: center;
}

#copiedToolTip {
    position: relative;
    top: -98px;
    left: 760px;
    display: block;
}
